/*
 body: #000000
 text: #FFFFFF


*/

body {
  background-color: #000000;
  color: #FFFFFF;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #FFFFFFcb;
}

a {
  color: #00AA00;
  text-shadow: 0 0 5px #00AA00cb
}

hr {
  margin: 2rem 0;
}

.hidden{
  color: #000000;
  text-shadow: 0 0 0 #000000;

}

.container {
    margin: auto;
    max-width: 750px;
  }
  
  h1{
    color: #663399;
    text-shadow: 0 0 5px #663399cb;
  }
  .site-title {
    font-size: 3rem;
    color: #6D6A75;
    font-weight: 700;
    margin: 1.5rem 0;
    text-shadow: 0 0 5px #6d6a75cb
  }
  .site-icon {
    float: right;
    width: 3.5rem;
    height: 3.5rem;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
 